<!-- <header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header> -->



<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light hadroom headroom--not-bottom headroom--not-top headroom--pinned">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="/">
        <img src="{{ "/assets/img/brand/debian_brasilia_logo.png" | prepend: site.baseurl }}" style="height:48px;" alt="Debian Brasilia">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="/">
                <img src="{{ "/assets/img/brand/blue.png" | prepend: site.baseurl }}" alt="brand">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Evento</span>
            </a>
            <div class="dropdown-menu">
              <a href="{{ "/sobre" | prepend: site.baseurl }}" class="dropdown-item">Sobre</a>
              <a href="{{ "/programacao" | prepend: site.baseurl }}" class="dropdown-item">Programação</a>
              <!-- <a href="{{ "/inscricao" | prepend: site.baseurl }}" class="dropdown-item">Inscrição</a> -->
              <!-- <a href="{{ "/videos" | prepend: site.baseurl }}" class="dropdown-item" role="button">Vídeos</a> -->
              <a href="{{ "/datas-importantes" | prepend: site.baseurl }}" class="dropdown-item">Datas Importantes</a>
              <a href="{{ "/local" | prepend: site.baseurl }}" class="dropdown-item" role="button">Local</a>
              <a href="{{ "/brasilia" | prepend: site.baseurl }}" class="dropdown-item" role="button">Brasília</a>
              <a href="{{ "/organizadores" | prepend: site.baseurl }}" class="dropdown-item" role="button">Organizadores</a>
              <a href="{{ "/codigo-de-conduta" | prepend: site.baseurl }}" class="dropdown-item" role="button">Código de Conduta</a>
              <!-- <a href="{{ "/voluntarios" | prepend:  site.baseurl }}" class="dropdown-item" role="button">Voluntários</a> -->
              <!-- <a href="{{ "/certificados" | prepend: site.baseurl }}" class="dropdown-item" role="button">Certificados</a> -->
              <!-- <a href="{{ "/hospedagem-solidaria" | prepend: site.baseurl }}" class="dropdown-item" role="button">Hospedagem Solidária</a> -->
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="{{ "/patrocinadores" | prepend: site.baseurl }}" class="nav-link" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Patrocinadores</span>
            </a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Patrocínio</span>
            </a>
            <div class="dropdown-menu">
              <a href="{{ "/patrocinadores" | prepend: site.baseurl }}" class="dropdown-item">Patrocinadores</a>
              <a href="{{ "/seja-um-patrocinador" | prepend: site.baseurl }}" class="dropdown-item">Seja um Patrocinador</a>
            </div>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Programação</span>
            </a>
            <div class="dropdown-menu">
              <a href="{{ "/programacao" | prepend: site.baseurl }}" class="dropdown-item">Programação</a>
              <a href="{{ "/datas-importantes" | prepend: site.baseurl }}" class="dropdown-item">Datas Importantes</a>
              <a href="{{ "/submissao-de-atividades" | prepend: site.baseurl }}" class="dropdown-item">Submissão de Atividades</a>
              <a href="{{ "/dicas-para-submissao" | prepend: site.baseurl }}" class="dropdown-item">Dicas para Submissão</a>
              <a href="{{ "/palestrantes-confirmados" | prepend: site.baseurl }}" class="dropdown-item">Palestrantes Confirmados</a>
              <a href="{{ "/voluntarios" | prepend: site.baseurl }}" class="dropdown-item">Voluntários</a>
              <a href="{{ "/passeios" | prepend: site.baseurl }}" class="dropdown-item">Passeios</a>
            </div>
          </li> -->
          <li class="nav-item dropdown">
            <a href="{{ "/contatos" | prepend: site.baseurl }}" class="nav-link" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Contatos</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://t.me/debianbrasilia" target="_blank" data-toggle="tooltip" title="Junte-se a nós no Telegram">
              <i class="fa fa-telegram"></i>
              <span class="nav-link-inner--text d-lg-none">Telegram</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.facebook.com/debianbrasiliaoficial/" target="_blank" data-toggle="tooltip" title="Curta a gente no Facebook">
              <i class="fa fa-facebook-square"></i>
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://twitter.com/DebianBrasilia" target="_blank" data-toggle="tooltip" title="Siga a gente no Twitter">
              <i class="fa fa-twitter-square"></i>
              <span class="nav-link-inner--text d-lg-none">Twitter</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
