<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include minidebconf-header.html %}

    <article class="post col-lg-8 col-md-8 col-sm-8 mx-auto pt-100">
      <div id="article_alert">

      </div>
      {% if page.title != "Index" %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><a href="{{ "/" | prepend: site.baseurl }}">Início</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
      </nav>
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>
      {% endif %}

      <div class="post-content">
          {{ content }}
      </div>

    </article>

    {% include footer.html %}

    <!-- Core -->
    <script src="{{ "/assets/vendor/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendor/popper/popper.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendor/bootstrap/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/vendor/headroom/headroom.min.js" | prepend: site.baseurl }}"></script>

    <!-- Argon JS -->
    <script src="{{ "/assets/js/argon.js?v=1.1.0" | prepend: site.baseurl }}" type="text/javascript"></script>

    <!-- Alerts -->
    <script src="{{ "/assets/js/alerts.js" | prepend: site.baseurl }}" type="text/javascript"></script>

    <!-- Configuration -->
    {% include analytics.html %}

  </body>

</html>
